name: New Build AAPT2

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [arm64-v8a, armeabi-v7a, x86, x86_64]

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential ninja-build zip unzip \
            libstdc++-10-dev autoconf automake libtool pkg-config cmake wget unzip

      - name: Download and setup Android NDK
        run: |
          NDK_VERSION=25.2.9519653
          wget https://dl.google.com/android/repository/android-ndk-$NDK_VERSION-linux.zip
          unzip android-ndk-$NDK_VERSION-linux.zip
          echo "NDK_TOOLCHAIN=$PWD/android-ndk-$NDK_VERSION" >> $GITHUB_ENV
          export NDK_TOOLCHAIN=$PWD/android-ndk-$NDK_VERSION

      - name: Build AAPT2
        run: |
          chmod +x build.sh
          ./build.sh --target=${{ matrix.arch }}

      - name: Upload built AAPT2 binary
        uses: actions/upload-artifact@v4
        with:
          name: aapt2-${{ matrix.arch }}
          path: out/*aapt2*
