name: Build aapt2

on:
  push:
    branches: [ main, dev ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [x86_64, i686, aarch64, armv7a]
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y ninja-build autoconf automake libtool pkg-config

      - name: Setup NDK r27
        uses: nttld/setup-ndk@v1
        with:
          ndk-version: r27

      - name: Export NDK_TOOLCHAIN
        run: |
          echo "NDK_TOOLCHAIN=${{ steps.ndk.outputs.ndk-path }}/toolchains/llvm/prebuilt/linux-x86_64" >> $GITHUB_ENV

      - name: Build ${{ matrix.arch }}
        run: bash ./build.sh ${{ matrix.arch }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: aapt2-${{ matrix.arch }}
          path: dist/${{ matrix.arch }}/aapt2
