name: Build AAPT2

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        arch: [arm64-v8a, armeabi-v7a, x86, x86_64]

    steps:
      - name: Checkout source
        uses: actions/checkout@v3

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential ninja-build zip unzip \
             libstdc++-10-dev autoconf automake libtool pkg-config cmake

      - name: Build AAPT2 New
        run: |
          chmod +x build.sh
          ./build.sh --target=${{ matrix.arch }}

      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: aapt2-${{ matrix.arch }}
          path: out/*aapt2*
